
<footer class="main-footer" style="position: fixed; bottom:0">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-6" style="text-align: center;">
          <p style="color: white;">IntelleFarm &copy; 2021</p>
        </div>
        <div class="col-sm-6 text-right">
          <p> <a href="" class="external">IntelleFarm</a></p>
          <!-- Please do not remove the backlink to us unless you support further theme's development at https://bootstrapious.com/donate. It is part of the license conditions and it helps me to run Bootstrapious. Thank you for understanding :)-->
        </div>
      </div>
    </div>
  </footer>