<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Intellefarm.com</title>
    <link href='https://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
    <link rel="shortcut icon" href="img/favicon.ico">
</head>
<style>
    body {
        margin: 0;
        padding: 0;
        background: url(indeximages/poster3.jpg) #fff;
        background-attachment: fixed;
        background-size: cover;
      }
      
      
      #video-background {
        position: fixed;
        right: 0; 
        bottom: 0;
        min-width: 100%; 
        min-height: 100%;
        width: auto; 
        height: auto;
        z-index: -100;
      }
      
      
      
      h1 {
        
        font-size: 3.6rem;
        letter-spacing: 3px;
        color: #fff;
        font-family: Oswald, sans-serif;
        text-shadow: 1px 1px 1px #16a085, 1px 1px 4px #2980b9;
        text-align: center;
      }
      
      button {
        position: relative;
        border-radius: 5px;
        border: 0;
        font-size: 1.5rem;
        font-family: Oswald, sans-serif;
        color: #fff;
        background-color: #2980b9;
        padding: .4em;
        margin-left: auto;
        margin-right: auto;
        display: block;
      }
      
      button:hover {
        background-color: #3498db;
      }

      .wrap {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        
      }
      
      .button {
          
        min-width: 300px;
        min-height: 60px;
        font-family: 'Nunito', sans-serif;
        font-size: 22px;
        text-transform: uppercase;
        letter-spacing: 1.3px;
        font-weight: 700;
        color: #313133;
        background: #4FD1C5;
      background: linear-gradient(90deg, #0084ff 0%, rgba(79,209,197,1) 100%);
        border: none;
        border-radius: 1000px;
        box-shadow: 12px 12px 24px rgba(79,209,197,.64);
        transition: all 0.3s ease-in-out 0s;
        cursor: pointer;
        outline: none;
        position: relative;
        padding: 10px;
        }
      
      button::before {
      content: '';
        border-radius: 1000px;
        min-width: calc(300px + 12px);
        min-height: calc(60px + 12px);
        border: 6px solid #6fc067;
        box-shadow: 0 0 60px #0084ff;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: 0;
        transition: all .3s ease-in-out 0s;
      }
      
      .button:hover, .button:focus {
        color: #313133;
        transform: translateY(-6px);
      }
      
      button:hover::before, button:focus::before {
        opacity: 1;
      }
      
      button::after {
        content: '';
        width: 30px; height: 30px;
        border-radius: 100%;
        border: 6px solid #0084ff;
        position: absolute;
        z-index: -1;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        animation: ring 1.5s infinite;
      }
      
      button:hover::after, button:focus::after {
        animation: none;
        display: none;
      }
      #imga{
        margin-top: -50px;
      }
      
      @keyframes ring {
        0% {
          width: 30px;
          height: 30px;
          opacity: 1;
        }
        100% {
          width: 300px;
          height: 300px;
          opacity: 0;
        }
      }
</style>
<body>
    
    <article>
        <h1>INTELLEFARM  <br>  Automated Farming Solutions</h1>
       <br><br><br>
            <div class="wrap" >
            <a href="login"><button class="button">Login</button></a>
          </div>

      </article>
      
      
      <video autoplay loop id="video-background" poster="indeximages/poster3.jpg" muted>
        <source src="indeximages/p3.mp4" type="video/mp4">
      </video>
      
   
   
      <script>

    </script>
</body>
</html>
