 <!-- navbar side -->
 <nav class="navbar-default navbar-static-side" role="navigation">
    <!-- sidebar-collapse -->
    <div class="sidebar-collapse">
        <!-- side-menu -->
        <ul class="nav" id="side-menu">
            <li>
                <!-- user image section-->
                <div class="user-section">
                    <div class="user-section-inner">
                        <img src="assets/img/user.jpg" alt="">
                    </div>
                    <div class="user-info">
                        <div><strong><%= username_dash  %></strong></div>
                        <div class="user-text-online">
                            <span class="user-circle-online btn btn-success btn-circle "></span>&nbsp;Online
                        </div>
                    </div>
                </div>
                <!--end user image section-->
            </li>
            <li class="sidebar-search">
                <!-- search section-->
                <div class="input-group custom-search-form">
                    <input type="text" class="form-control" placeholder="Search...">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button">
                            <i class="fa fa-search"></i>
                        </button>
                    </span>
                </div>
                <!--end search section-->
            </li>
            <li class="selected">
                <a href="#"><i class="fa fa-dashboard fa-fw"></i>Dashboard</a>
            </li>
            <li>
                <a href="#"><i class="fa fa-bar-chart-o fa-fw"></i>Place an order<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a href="buychamber">New Chamber</a>
                    </li>
                    <li>
                        <a href="invest">Invest in Precision Farming</a>
                    </li>
                    <li>
                        <a href="automate">Automate Your farm</a>
                    </li>
                </ul>
                <!-- second-level-items -->
            </li>
             <li>
                <a href="croptimeline"><i class="fa fa-flask fa-fw"></i>Crop Timeline</a>
            </li>
            <li>
                <a href="livevideostream"><i class="fa fa-table fa-fw"></i>Live Video Stream</a>
            </li>
            <!-- <li>
                <a href="forms.html"><i class="fa fa-edit fa-fw"></i>Forms</a>
            </li>
            <li>
                <a href="#"><i class="fa fa-wrench fa-fw"></i>UI Elements<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a href="panels-wells.html">Panels and Wells</a>
                    </li>
                    <li>
                        <a href="buttons.html">Buttons</a>
                    </li> -->
                    <li>
                        <a href="#"><i class="fa fa-bar-chart-o fa-fw"></i> Chamber Stream<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="currentchambers">current chambers</a>
                            </li>
                            <li>
                                <a href="allchambers">All chambers</a>
                            </li>
                        </ul>
                        <!-- second-level-items -->
                    </li>
                    <li>
                        <a href="activitylog"><i class="fa fa-wrench fa-fw"></i>Activity Log</a>
                    </li>
                    <li>
                        <a href="knowledgebase"><i class="fa fa-edit fa-fw"></i>Knowledge Base</a>
                    </li>
                
                <!-- second-level-items -->
            
            
            <li>
                <a href="#"><i class="fa fa-files-o fa-fw"></i>Important Links<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a href="home">Go to Website</a>
                    </li>
                    <li>
                        <a href="logout">Login Page</a>
                    </li>
                </ul>
                <!-- second-level-items -->
            </li>
        </ul>
        <!-- end side-menu -->
    </div>
    <!-- end sidebar-collapse -->
</nav>