<nav class="side-navbar">
    <div class="side-navbar-wrapper">
      <!-- Sidebar Header    -->
      <div class="sidenav-header d-flex align-items-center justify-content-center">
        <!-- User Info-->
        <div class="sidenav-header-inner text-center"><img src="img/avatar-7.jpg" alt="person" class="img-fluid rounded-circle">
          <h2 class="h5"><%= username_dash  %></h2><span>Type:<%= usertype  %></span>
        </div>
        <!-- Small Brand information, appears on minimized sidebar-->
        <div class="sidenav-header-logo"><a href="dashboarduser" class="brand-small text-center"> <strong>I</strong><strong class="text-primary"></strong></a></div>
      </div>
      <!-- Sidebar Navigation Menus-->
      <div class="main-menu">
        <h5 class="sidenav-heading">Main</h5>
        <ul id="side-main-menu" class="side-menu list-unstyled">                  
          <li><a href="dashboarduser"> <i class="icon-home"></i>Home                             </a></li>
          <li><a href="/"> <i class="icon-form"></i>Website                            </a></li>
          <li><a href="registerfarm"> <i class="icon-form"></i>Registered Farm                            </a></li>
          <li><a href="#exampledropdownDropdown" aria-expanded="false" data-toggle="collapse">
             <i class="icon-interface-windows"></i>Configure A farm</a>
            <ul id="exampledropdownDropdown" class="collapse list-unstyled ">
              <li><a href="newfarm">New Farm Setup</a></li>
              <li><a href="newchamber">Add Chamber</a></li>
              <li><a href="newzone">Add Zone</a></li>
              <li><a href="newcomponent">Add Component</a></li>
            </ul>
          </li>
          <!-- <li><a href="allchambers"> <i class="fa fa-bar-chart"></i>Stream Log                             </a></li> -->
          <li><a href="allzones"> <i class="fa fa-bar-chart"></i>Stream Log                <div class="badge badge-warning">Change</div>                         </a></li>
          <li><a href="guages"> <i class="fa fa-bar-chart"></i>set Value              <div class="badge badge-warning">New</div>                         </a></li>

          <li><a href="insights"> <i class="fa fa-bar-chart"></i>Farm Insights                             </a></li>
         
          <li> <a href="activitylog"> <i class="icon-mail"></i>Activity Log
              <div class="badge badge-warning">New</div></a></li>
        </ul>
      </div>
      <div class="admin-menu">
        <h5 class="sidenav-heading">Important Links</h5>
        <ul id="side-admin-menu" class="side-menu list-unstyled"> 
          <li> <a href="login"> <i class="icon-interface-windows">  </i>Login page </a></li>
          <li><a href="galleryupload"> <i class="icon-grid"></i>Gallery Upload  <div class="badge badge-warning">New</div>                                         </a></li>
          <li> <a href="#" class=""> <i class="icon-flask "> </i>Video Stream
              <div class="badge badge-info">Under Development</div></a></li>

              <!-- <li> <a href=""> <i class="icon-flask"> </i></a></li> -->
          <li> <a href="tickets"> <i class="fa fa-wrench fa-fw"> </i>Open A support Ticket <div class="badge badge-info">Under Development</div></a></li>
        </ul>
      </div>
    </div>
  </nav>