<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error</title>
    <link rel="shortcut icon" href="#">
  <!-- bootstrap css -->

  <link rel="stylesheet" href="indexcss/bootstrap.min.css">
  <!-- style css -->
  <link rel="stylesheet" href="indexcss/style.css">
  <!-- Responsive-->
  <link rel="stylesheet" href="indexcss/responsive.css">  
</head>
<body>
    <center>
        
        <div class="card border-danger">
          <div class="card-body">
            <div class="alert alert-primary" role="alert">
                </button>
                <strong>Ooops! Looks like you aren't logged in....</strong> <br>
                <a name="" id="" class="btn btn-primary" href="login" role="button">Login</a>
            </div>
          </div>
        </div>


        
    </center>

    <script src="indexjs/jquery.min.js"></script>
    <script src="indexjs/popper.min.js"></script>
    <script src="indexjs/bootstrap.bundle.min.js"></script>
</body>
</html>